* {
  box-sizing: border-box; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  font-size: 16px; }

.button h2, .button h3, .button p {
<<<<<<< HEAD
  font-size: 20px; 
  transform: 2s;
}
=======
  font-size: 20px; }

h2 {
  color: pink;
  font-size: 42px; }
>>>>>>> b81d39a82d06154dbd6074deebc1aaf5a344e08e
